
.cards{
    margin-top:51px;
}

.cards__list{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-gap: 20px 17px;
    margin: 0;
    padding: 0;    
}

.card{
    display: flex;
    flex-direction: column;
    list-style: none;
}

.cards__image{
    width: 282px;
    height: 282px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.cards__description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    padding-top: 25px;
    padding-right: 20px;
    padding-bottom: 25px;
    padding-left: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.cards__description-text{
    margin: 0;
    font-size: 24px;
    font-weight: 900;
    line-height: 30px;
}

.cards__description-text-short{
    margin: 0;
    font-size: 23px;
    font-weight: 900;
    line-height: 30px;
}

.cards__like-button{
    padding: 0;
    width: 21px;
    height: 18px;
    border: none;
    background: transparent url("../images/heart_vector.svg") center no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: opacity 0.3s linear;
    cursor: pointer;
}

.cards__like-button:hover {
    opacity: 60%;
}