.profile{
    max-width: 880px;
    height: 120px;
    margin: 40px auto 0;
    font-family: 'Inter';
    display: flex;
    align-items: center;

}
.profile__img{
    width: 120px;
    height: 120px;
}

.profile__info{
    width: 415px;
    height: 77px;
    margin-left: 30px;
    display: grid;
    grid-template-areas:
    "title button"
    "description description"; 
    grid-template-columns: minmax(auto, 373px) auto;
}

.profile__title{
    color: #fff;
    font-size: 42px;
    line-height: 48px;
    font-weight: 500;
    margin: 0;
    grid-area: title;
}

.profile__description{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    margin: 0;
    grid-area: description;
    display: inline;
    
}

.profile__edit-button{
    width: 24px;
    height: 24px;
    margin: 15px 30px 0 0;
    border: 1px solid #fff;
    background-color: transparent;
    grid-area: button;
}

.profile__edit-button-img{
    width: 10px;
    height: 10px;
}

.profile__add-button{
    width: 150px;
    height: 50px;
    border: 1px solid #fff;
    background-color: transparent;
    grid-area: button;
    margin-left: auto;
}

.profile__add-button-img{
    width: 22px;
    height: 22px;
}

